@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:100,400,700');

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
  font-family: "IBM Plex Mono", consolas, monospace;
  background: white;
}

#container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.helptext {
	display: block;
	text-align: center;
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
}

.helptext h1 {
	margin: 0 0 10px;
}


.thrust-flame {
  background: orange;
  position: absolute;
  top: 40px;
  height: 0px;
  width: 6px;
  border-radius: 100%;
}

.thrusting .thrust-flame {
  height: 20px;
  transition: 0.02s;
}

.control-pad-line {
  position: absolute;
  background: black;
  pointer-events: none;
}

#line-h {
  width: 100%;
  height: 2px;
}

#line-v {
  width: 2px;
  height: 100%;
}

#rocket {
  height: 60px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(dragon.png);
  background-size: cover;
  background-position: -0px 0;
}

#thrust-flame--r {
  right: 1px;
  transform: rotate(-10deg);
}

#thrust-flame--l {
  left: 1px;
  transform: rotate(10deg);
}

#control-pad {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  right: 10px;
  border-radius: 14px;
  border: 2px solid black;
  overflow: hidden;
}